.chart-container{
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.chart-container img{
    width:80px
}


.highcharts-yaxis-grid > path{
    stroke: #9A9FA4 !important;
    opacity: .45
}